<div class = "userTyped">
Will the user type an answer in each question or in an answer box for all questions?
<br/>
<br/>
<input type="radio" name="answeringType"  value="One Answer Per Question" visibility = "false" onclick="changeToUserInputForEachQuestion()" checked>One Answer Per Question</input>
<input type="radio" name="answeringType"  value="A Box Where Any Correct Answer is Accepted for the Appropriate Question" visibility = "false" onclick="changeToSingleAnswerBox()">A Box Where Any Correct Answer is Accepted for the Appropriate Question</input>
</div>