
{% extends "quizzes/base.html" %}

{% block content %}

{%if quiz_list %}
    <ul>
	<li>test</li>
    {% for quiz in quiz_list %}
        <li><a href="/quizzes/{{ quiz.Quiz_Title }}/">{{ quiz.Quiz_Title }}</a>  {{ quiz.Quiz_Description }}</li>
    {% endfor %}
</ul>

{% else %}
    <p>No quizzes are available.</p>
{% endif %}
{% endblock %}