<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
var question_no = 0
var results_html = ""
var results_list = []

function add_question(){
	question_no++
	var html_question_begining = "<div id='q"
	var html_question_middle = "'><table border=2><tr class='results' id='resultsq" + question_no + "'><td></td></tr><tr><td>Question<input id='question"
	var html_question_end = "' name='question" + question_no + "' ></input><br/></td></tr><tr class='a1' id='a1q" + question_no + "'><td>Answer1<input id='option1button' name='answer1_q" + question_no + "'></input><br/></td></tr><tr class='a2' id='a2q" + question_no + "'><td>Answer2<input id='option2button' name='answer2_q" + question_no + "'></input><br/></td></tr><tr class='a3' id='a3q" + question_no + "'><td>Answer3<input id='option3button' name='answer3_q" + question_no + "'></input><br/></td></tr><tr class='a4' id='a4q" + question_no + "'><td>Answer4<input id='option4button' name='answer4_q" + question_no + "'></input><br/></td></tr></div></table>"
	$("#questions").append(html_question_begining + question_no + html_question_middle + question_no +  html_question_end)
	var results_no = "#resultsq" + question_no
	for (var i = 0; i < results_list.length; i++) {
		$(results_no).append("<td>" + results_list[i] + "</td")	
		$("#a1q" + question_no).append("<td><input type='text' name='r1'></input></td>")
		$("#a2q" + question_no).append("<td><input type='text' name='r2'></input></td>")
		$("#a3q" + question_no).append("<td><input type='text' name='r3'></input></td>")
		$("#a4q" + question_no).append("<td><input type='text' name='r4'></input></td>")
}
}
function add_result(){
	var result = $("#result").val()
	results_list.push(result)
	var result_explanation = $("#result_explanation").val()
	$(".results").append("<td title='"+ result_explanation  + "'><input type='hidden' name='" + result + "_explanation' value = '" + result_explanation + "'>"  +result+"</td>")
	$(".a1").append("<td><input type='text' name='r1'></input></td>")
	$(".a2").append("<td><input type='text' name='r2'></input></td>")
	$(".a3").append("<td><input type='text' name='r3'></input></td>")
	$(".a4").append("<td><input type='text' name='r4'></input></td>")
	results_html += "<td>" + result + "</td>"
}

//function submit_quiz(){
//	$.post("")//, {csrfmiddlewaretoken: {{ csrf_token }}})
//}
	


</script>
<body onload="add_question()">
<form action="created/" method="post"> 
{% csrf_token %}
Quiz name:<input type="text" name="Quiz_Name"> Result name: <input type="text" id="result"></input> <button type = "button" onclick="add_result();">Add another Result</button><br>
Quiz description: <input type="text" name="Quiz_Description">Result explanation <input type="text" name="result_explanation" id="result_explanation"></input> <br>
<!--<div id="results"><tr><td>kk</td></tr></div> 
<tr id="results"><td>ka</td></tr>
<form id="q1">
<tr><td>Question<input id="question"></input><br/></td></tr>
<tr id="a1"><td>Answer1<input id="option1button"></input><br/></td></tr>
<tr id="a2"><td>Answer2<input id="option2button"></input><br/></td></tr>
<tr id="a3"><td>Answer3<input id="option3button"></input><br/></td></tr>
<tr id="a4"><td>Answer4<input id="option4button"></input><br/></td></tr>
</form>
</table>--!>

<div id="questions"></div>
</input>
<button type="button" onclick="add_question();">Add another question</button>
<input type="submit" value="Submit Quiz" /></form>
</body>
