{% extends 'quizzes/base.html' %}

{% block content %}
<script>
var question_no = 0
//stores how many answers are in each question
var questionArray = []
function add_question(){
	question_no++
	var qNum = "<div class='questionNumbering' id='questionNumber" + question_no +"'> " + question_no + ")</div>"
	var question = "<input type='text' class='question' id='q" + question_no + "' name='q" + question_no +"' ><br/><br/>"
	$("#numQuestions").val(question_no)
	$("#questions").append(qNum+question)	
}
function remove_question(){
	$("#q" + question_no).next('br').remove()
	$("#q" + question_no).next('br').remove()
	//$("#q" + question_no + ").next('br'.remove()")
	$("#q" + question_no).remove()
	$("#questionNumber" + question_no).remove()

	question_no--
}
function addQuestions(){
	for (var i = 0; i  < parseInt($("#numberOfQuestions").val()); i++) {
		add_question();
	}
	$("#add_questions").prop('disabled',true);
}
function prepareQuestions() {
	//this is for easy testing purposes
	questionArray = $("#questionArray").val()
	for (var i=0; i <= question_no; i++)
	{
		questionArray[i] = $("#q" + i).val()
	}
	$("#questionArray").val(questionArray)

}
</script>
	<h2>Welcome to Quiz Creator!</h2>
	<h3>First let's add give your quiz a title and add questions we'll deal add answers and deal with the scoring next</h3>
	<br/><br/>


<form action="/quizzes/create/add_answers" method="post"> 
{% csrf_token %}
<div id="user_input">

Quiz name:
<br/>
<input type="text" name="Quiz_Name" id = "Quiz_Name" required>
<br/> 
<br/>
<br/>
Quiz description: 
<br/>
<input type="text" id = "Quiz_Description" name="Quiz_Description">
	<br/>
	<br/>
	<br/>
	How many questions do you want your quiz to have? (You can add or remove questions later)
	<input type='number' name='numberOfQuestions' id='numberOfQuestions' value = 10></input>
	<button id='add_questions' onclick="addQuestions()" >Add Questions!</button>
<input type="hidden" type = "text" id="questionArray" name="questionArray" value="a,b,c,d">
<input type="hidden" type = "text" id="numQuestions" name="numQuestions">
<div id="errorMessages"></div>
<div id="questions"></div>
</input>

<button type="button" onclick="add_question();">Add new question</button>
<button type="button" onclick="remove_question()">Remove last question</button>
<input type="submit" value="Submit Quiz" onclick="prepareQuestions()" />
</form>
</div>
{% endblock %}