{% extends 'quizzes/base.html' %}
{% block content %}

{%if quiz_request %}

<h1>	{{ quiz_request.Quiz_Title }}  </h1>
<h2>{{ quiz_request.Quiz_Description }} </h2>

<form action="/quizzes/{{quiz_request.Quiz_Title}}/result/" method=post>
	{% csrf_token %}
{% for question in quiz_questions %}
<h3>{{question.question_text}}</h3>

{% for a in question.answer_set.all %}
<input type="radio" name= "question-{{question.questionNumber}}" class="question-{{question.questionNumber}}" value={{a.answerNumber}}>{{a.answertext}}<br>
{% endfor %}
{% endfor %}
{% for result in quiz_results %}
<h4>{{result.Quiz_Result}}</h4>

{% endfor %}
<input type='submit' >
<input type="hidden" name="Quiz_Name" value="{{quiz_request.Quiz_Title}}"></input>
</form>
{% else %}
    <p>No quiz matches that name.</p>
{% endif %}
{% endblock %}