body {
    font: 100% Lucida Sans;
    margin: 20px;
    line-height: 26px;
    background-color: #fdfd96;
    text-align: center;
    border-radius: 10px;

      -webkit-align-items: center;  
  -ms-flex-align: center;  
  align-items: center;
  display: -webkit-flex;
  display: flex;

}

html, body {
  height: 100%;
  margin: 0;
}

#joke {
	color : white; 
	background-color: blue;
	border: 25px solid green;
	border-radius: 10px;
	min-height: 50%;
	max-height: 65%;
	min-height:350px !important;
    height:auto !important;
    height:450px !important;
    overflow:scroll;


	}

	a:link    {color:#000000; background-color:transparent; text-decoration:none}
a:visited {color:#000000; background-color:transparent; text-decoration:none}
a:hover   {color:#ff0000; background-color:transparent; text-decoration:underline}
a:active  {color:#ff0000; background-color:transparent; text-decoration:underline}
::-webkit-scrollbar {
      width: 15px;
} 
::-webkit-scrollbar-track {
      background-color: #b46868;
} /* the new scrollbar will have a flat appearance with the set background color */
 
 
::-webkit-scrollbar-button {
      background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
h1 {
	}
li
{
display: inline;
list-style-type: none;
padding-right: 20px;
border: 2px solid green;
}
ul {
	display: inline;
}
#length{
	float: right;
}
#category{
	float:left;
}
button{
	width: 350px;
	border: 5px solid green;
	height: 150px;
	z-index: 1;
	font-size: x-large;
	/*position: absolute;*/
	box-shadow: 0 6px green; 
}
input{
	cursor: crosshair;
	
}
#ratingScale{
	width: 350px;
	max-width:50%;
	height: 150px;
	 margin-left: auto;
    margin-right: auto;
    position: relative;
}
#rating1{
	width: 14.2%;
	float: left;
	position: absolute;
	height: 100%;
	cursor:
		url(images/cursor1.cur),
		crosshair;
}
#rating2{
	width: 14.3%;
	float: left;
	left: 14.2%;
	position: absolute;
	height: 100%;
	cursor:
		url(images/cursor2.cur),
		crosshair;
}
#rating3{
	width: 14.2%;
	float: left;
	left: 28.4%;
	position: absolute;
	height: 100%;
	cursor:
		url(images/cursor3.cur),
		crosshair;
}
#rating4{
	width: 14.2%;
	float: left;
	left: 42.8%;
	position: absolute;
	height: 100%;
	cursor:
		url(images/cursor4.cur),
		crosshair;

}
#rating5{
	width: 14.2%;
	float: left;
	left: 57.1%;;
	position: absolute;
	height: 100%;
	cursor:
		url(images/cursor5.cur),
		crosshair;

}
#rating6{
	width: 14.2%;
	float: left;
	left: 71.4%;
	position: absolute;
	height: 100%;
	cursor:
		url(images/cursor6.cur),
		crosshair;
}
#rating7{
	width: 14.2%;
	float: left;
	left: 85.7%;
	position: absolute;
	height: 100%;
	cursor:
		url(images/cursor7.cur),
		crosshair;
}