body {
	
	background-color: blue;
}
.question
{
	width: 75em;
	height: 3em;
}
#user_input
{
	text-align: center;
}
#Quiz_Name
{
	font-size:24px;
	width: 35em;
}
#Quiz_Description
{
	width: 60em;
	height: 3em;
}
.questionNumbering
{
	float: left;
	display:inline;
}
.answerNumbering
{
	float:left;
	display:inline;

}
.AnswerField
{
	width: 50em;
	padding: 4px ;
}
#UserInputAnswer
{
	width: 20em;
	padding: 4px;
}
.rangeDescription
{
	width: 60em;
	height: 3em;
}
.correctAnswer
{
	background-color:green;
}
.incorrectAnswer
{
	background-color: red;
}
